/* Insertar fuente */
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

/* Estilo del body se incluye fuente de Google */

body {
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

/* Estilo de la capa primero*/
.primero {
    /*font-size: 40px;*/
    /*background-color: #9fa8bf;*/
    color: rgb(81, 75, 75);
}
#titulo {
    background-color: #ebd50c;
    color:rgba(255, 0, 0);
    opacity: .7;
}

/* Estilo del titulo*/
h1 {
    color: #eb0c0c;
    /*font-size: 4rem;*/
}
h1 {
    color: #ebd50c;
    /*font-size: 4rem;*/
}

/* Estilo del párrafo*/
p {
    /* color: #4e4e4f; */
    font-size: 1.5rem;
    border-color: #eb0c0c;
    border-style: solid;
    border-width: 5px;
}

.box {
    width: 100%;
    height: 20em;
    background-color: #8a2be2;
    font-size: 3rem;
}

p.especial{
    margin:1rem 2rem;
    border-radius: 10px;
    padding: 2rem;
    font-weight: 700;
    
}

.lista{
    list-style-type: disc;
    font-size: 3rem;
    padding-left: 4rem;
    border: 2px solid #000;
}

/* Esto es un comentario */
* {
    font-size: 24px;
    color: #8a2be2;
}

/* centrado vertical y horizontal */ 
.contendor{
    width: 50rem;
    height: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;

}

.contenido{
    width: 20rem;
    background-color: #333;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 2rem;
}

