/* Insertar fuente */
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap");

/* Estilo del body se incluye fuente de Google */

body {
    font-family: "Edu AU VIC WA NT Hand", cursive;
}

/* Estilo de la capa primero*/
.primero {
    font-size: 40px;
    background-color: #f4f8f5;
}

/* Estilo del titulo*/
h1 {
    color: #ebe1e3;
    font-size: 4rem;
}

/* Estilo del párrafo*/
p {
    color: #4e4e4f;
    font-size: 1.5rem;
    border: 1px solid #ee7409;
}

.box {
    width: 50%;
    height: 200px;
    background-color: blueviolet;
    font-size: 3rem;
}

#titulo {
    color: blue;
}

p.texto {
    color: slateblue;
}
